<h1>Restaurants</h1>

<tbody>
    <% @restaurants.each do |restaurant| %>
      <ul>
     <li> <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.category %></td>
        <td><%= link_to 'Show', restaurant %></td>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <td><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr></li>
      </ul>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Restaurant', new_restaurant_path %>
